{% extends "./base.html" %}
{% block title %}
{{item}}
{% endblock %}

{% block content%}

<a href="/local/{{category}}/{{book}}"><h3 >{{book}}</h3></a>
<br>
<div class="panel panel-default">

	<div class="panel-heading">
		<h4 class="panel-title">
		{{item}}	
		</h4>
	</div>

	<div class="panel-body" >
		
		{% for line in lines %}
			<p style="text-align:left" >{{line}}</p>
		{% endfor %}
	
	
	</div>

	<div class="panel-footer">
		<div class="pull-center">
				<a href="{{last_page.index}}" class="btn btn-primary">{{last_exp}}：{{last_page.item}}</a>
				<a href="/local/{{category}}/{{book}}" class="btn btn-default" >目录</a>
				<a href="#" class="btn btn-default">TOP</a>
				<a href="{{next_page.index}}" class="btn btn-primary">{{next_exp}}：{{next_page.item}}</a>
		</div>
	</div>

</div>


{% endblock %}