{% extends "./base.html" %}
{% block title %}
{{book}}
{% endblock %}

{% block content%}
<div class="well"><a href="/books"><h3>小说列表</h3></a></div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
		<h4>{{book}}</h4>
		</div>
	</div>
	
	
		{% for item in items %}
		<div class="panel-body">
		<a href="/books/{{book}}/{{item.index}}">{{item.item}}</a>
		</div>
		{% endfor%}
	
	
	
	<div class="panel-footer">
		<div class="pull-center">

				<a href="#" class="btn btn-primary" onClick="javaScript:history.go(-1)">Back</a>
				<a href="#" class="btn btn-default">TOP</a>
		</div>
	</div>
</div>
{% endblock %}
