{% extends "./base.html" %}
{% block title %}
category
{% endblock %}

{% block content%}
<br>
<div class="panel panel-default">

	<div class="panel-heading">
		<h4 class="panel-title">
		CATEGORYS
		</h4>
	</div>

	

		{% for category,category_echo in category_dict.items() %}
		<div class="panel-body" >
		<a class="text-center" href="{{category}}/1">{{category_echo}}</a>
		</div>
		{% endfor %}
	

	<div class="panel-footer">
		<div class="pull-center">
				
				<a href="#" class="btn btn-default">TOP</a>
				
		</div>
	</div>

</div>


{% endblock %}